@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="profile-header text-center mb-4">
                <div class="profile-avatar-container">
                    <img src="@Model.Avatar" class="profile-avatar" alt="Аватар пользователя" />
                </div>
                <h2 class="profile-name mt-3" id="profileNickName">@Model.NickName</h2>
                <p class="profile-email"><i class="fas fa-envelope"></i> @Model.Email</p>
            </div>
            <div class="card profile-details">
                <div class="card-body">
                    <h5 class="card-title">Информация о пользователе</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Никнейм:</strong> <span id="userNickName">@Model.NickName</span></li>
                    </ul>
                    <button class="btn btn-primary mt-3 edit-profile-btn"><a class="text-light" asp-action="Edit" asp-controller="Account" asp-route-id="@Model.Id">Редактировать профиль</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
