@model Establishment

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-8">
            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="@Model.Image" class="img-fluid rounded" alt="@Model.Name" />
                </div>
                <div class="col-md-8">
                    <h1>@Model.Name</h1>
                    <p>@Model.Description</p>
                    @if (User.IsInRole("admin") || User.IsInRole("manager"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-3">Редактировать заведение</a>
                        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mb-3">Удалить заведение</a>
                    }
                </div>
            </div>

            <h2>Блюда</h2>
            <div class="row">
                @foreach (var dish in Model.Dishes)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">@dish.Name</h5>
                                <p class="card-text">@dish.Description</p>
                                <p class="card-text"><strong>Цена: </strong>@dish.Price руб.</p>
                                <button onclick="addToCart('@dish.Id')" class="btn btn-primary add-to-cart" data-dish-id="@dish.Id">Добавить в корзину</button>
                                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                                {
                                    <a asp-action="EditDish" asp-route-id="@dish.Id" class="btn btn-warning mt-2">Редактировать блюдо</a>
                                    <a asp-action="DeleteDish" asp-route-id="@dish.Id" class="btn btn-danger mt-2">Удалить блюдо</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

            @if (User.IsInRole("admin") || User.IsInRole("manager"))
            {
                <a asp-action="CreateDish" asp-route-establishmentId="@Model.Id" class="btn btn-success">Добавить блюдо</a>
            }
        </div>

        <div class="col-md-4">
            <div id="cart">
                @Html.Partial("/Views/Cart/_CartPartial.cshtml", new List<Cart>())
            </div>
        </div>
    </div>
</div>


    
    <script type="text/javascript" src="~/js/cart/details.js">
   
        
    </script>
@section Scripts
{
    <script>
        let establishmentId = '@Model.Id';
        updateCart(establishmentId);
   
    </script>
}


